
/* .main_body { background-color: #f1f1f1 #660033} #f0e1d8; */
/*  	#808080 */
/* .main_body { background-color:#ADD8E6 } */
/* .main_body { background-color:#E6E6FA } */
.main_body 
{ 
    background-color:#808080;
    /* height: auto; */
}

.myfont,.list-class
{
    padding:5px 5px;
    font-size: 15px;
    font-family:Times New Roman Times, serif;
}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++++++++++++
                                               +                                 +
                                               +   INDEX PAGE....  +
                                               +                                 + 
                                               +++++++++++++++++++++++++++++++++++
                                            */



.products-iframe
{
    width:100%;
    height: 100%;
    margin-top: -1%;
    align-content: center;
    
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;

}
.Offline-Label
{
    font-size: 25px;
    font-family:Times New Roman Times, serif;
    color:red;
    font-weight: bold;
    font-style: italic;
    background-color: white;
    border-bottom: 2px solid blue
}
.img-log-icone
{
    border-radius: 40%;
}
.products-log-incone
{
    border-radius: 40%;
}
.js_table_headers
{
    background-color:#4CAF50;
}

.js_table_row
{
    background-color:#2196F3;
    /* color: white; */
    border-bottom:1px solid #ddd;
    font-size: 18px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;

}
.js_table_row:hover
{
    background-color: black;
    cursor: pointer;
}

.user-scrolling-table
{
    display:block;
    overflow: auto;
    height: 350px;
    width: 95%;
}


.show-btn
{
    
    width: 50%;
    background-color: blue;
    height:35px;
    border-radius:50px;
}

.close-btn
{
    
    width: 30%;
    height:35px;
    background-color: red;
    border-radius:50px;
}



.menu_btns
{
    background-color:#708090;
    border:none;
    color:white;
    font-weight: bold;
    width:95%;
    height:50px;
    border-radius:18px;
}
.comment-order-gui
{
    background-color:#708090;
    border:none;
    color:white;
    font-weight: bold;
    width:25%;
    height:40px;
    border-radius:18px;
}
.admin-btn
{
    background-color:black;
    color: white;
    font-weight: bold;
    border:none;
    width:95%;
    height:40px;
    border-radius:18px;
}
.shop-btn
{
    background-color:blue;
    color: white;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 0%;
    border:none;
    width:50%;
    height:40px;
    border-radius:18px;
}
.paint-types-label
{
    color: blue;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    /* font-weight:100; */
    font-family:Times New Roman Times, serif;
}

.grand-child-btn
{
    background-color:green;
    color: white;
    font-weight: bold;
    border:none;
    width:50%;
    height:40px;
    border-radius:18px;
}
.submit-btn
{
    background-color:blue;
    border:none;
    width:40%;
    height:40px;
    border-radius:18px;
    color: white;

}

.jslabel
{
    display: block;
    color: blue;
}
.jslabel:hover {background-color: black;}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   ON ORDER APGE          +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */

.input-discription-labels
{
    color: black;
}
/* Include the padding and border in an element's total width and height */
*{box-sizing: border-box;}

/* Remove margins and padding from the list */
ul 
{
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li 
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {background: #f9f9f9;}

/* Darker background-color on hover */
ul li:hover {background: #ddd;}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close-x {
    /* position: absolute; */
    background-color: #f44336;
    color: white;
    /* top: 0; */
    width: 20%;
    height: 6%;
    cursor: pointer;
    /* align-content: center; */
    padding: 12px 12px 12px 12px;
}


.close-x-on-lists {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px 12px 12px;
}

.close-x-on-lists:hover {
    background-color: #f44336;
    color: white;
}
/* Style the header */
.header-order-modal 
{
    /* background-color: #f44336; */
    padding: 30px 40px;
    color: white;
    text-align: center;
}
  /* Clear floats after the header */
.header-order-modal:after 
{
    content: "";
    display: table;
    clear: both;
}
.list-class
{
    color: blue;
    /* float: left; */
    margin-left: 3%;
    margin-right: 3%;
}
.add-btn-order-modal
{
    padding: 10px;
    width: 200px;
    background: #d9d9d9;
    /* color: #555; */
    color: black;
    /* height: 37px; */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   NAVIGETION            +
                                               +                          +
                                               ++++++++++++++++++++++++++++
                                               */

.LogIconImg
{
    margin-top: 10px;
    width: 70px;

}
.fontstyles
{
    font-size: 20px;
    font-family:Times New Roman Times, serif;
    /* font-weight:bold; */
}

.our-label-menu
{
    color:blue;
    text-decoration:none;
    transition:0.3s;
    display:block;
    padding:10px 10px;
    background-color: wheat;
    border-radius: 10px;
}
.make-order-label
{
    color:blue;
    text-decoration:none;
    transition:0.3s;
    display:block;
    text-align: center;
    padding:10px 10px;
    background-color: yellowgreen;
    border-radius: 10px;
}

.Name-log-icone
{
    width: 50%;
    margin-left: 20%;
}
.HomeIcon
{
    font-size:36px;
    color:white;
    font-weight:bold;
}
.header
{
    position: fixed;
    height: 100%;
    width: 0;
    padding-top: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    /*SLIDER*/
    /* background-color: #993333;  */
}

.header a
{
    color:blue;
    text-decoration:none;
    transition:0.3s;
    display:block;
    padding:5px 5px;
    font-size: 20px;
    font-family:Times New Roman Times, serif;
}

a:hover{background-color:#E6E6FA;}

.header .closebtn
{

    position:absolute;
    right: 2px;
    /* margin-left:50%; */
    top:0;
    font-size:30px;
    width: 20%;
    height: 9%;
    background-color: red;
}
.close-navi-span
{
 font-size: 20px;
 color: white;
 width: 20%;
 height: 50px;
 cursor: pointer;
 padding: 12px 12px 12px 12px;
}

#navigetion-links-div
{
    text-align: center;
}

#NaviDivHeader
    {
        background-color: #A9A9A9;
        height:50px;
    }
/* #NaviDivFooter
{
    background-color:#A9A9A9;
    height:50px;
} */
.our-products-label
{
    color:black;
    text-align: center;
    padding:5px 5px;
    font-size: 20px;
    font-family:Times New Roman Times, serif;
}

.open-navigation-label
{
    font-size:35px;
    cursor:pointer;
    margin-left: 8px;
    color: white;
}
.title-label
{
    font-size: 17px;
    color:white;
    font-weight: bold;
    font-style: italic;
    margin-top: -100px;
    margin-left: 10%;
    margin-right: 10%;
    font-family:Times New Roman Times, serif;
}


.Drop-Down-Content
{
    display: none;
    position: relative;
    /* background-color: #ddd; */
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.drop-down-content-label 
{
    color: blue;
    font-size: 18px;
    padding: 5px 5px;
    cursor: pointer;
    display: block;
}

.content-sub-title-labels
{
    color:green;
    /* background-color: #00008B; */
    font-size: 20px;
    /* width: 100%; */
    padding: 5px 5px;
}



/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++++++++++++
                                               +                                 +
                                               +   Global classes (every page)   +
                                               +                                 + 
                                               +++++++++++++++++++++++++++++++++++
                                            */


/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   sadolin_entries_page   +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */


.order-form
{
    background-color:white;
    width: 65%;
    border-radius: 50px;
}

.form_inputs
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 200;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    text-align: center;

}

.order-inputs
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 200;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 35px;
    /* text-align: center; */

}

.form_inputs_customer
{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 150;
	padding: 7px;
	border: none;
	border-bottom: 2px solid blue;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    text-align: center;

}
.form_inputs:focus,.form_inputs_customer:focus,.order-inputs:focus
{

border-bottom: 2px solid black;
}
.next-to-payment-btn
{
    background-color:blue;
    color: white;
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 3%;
    border:none;
    width:30%;
    height:40px;
    border-radius:18px;
}
.submite-btn 
{
    /* float: right; */
    margin-top: 15px;
    margin-left: -10px;
    border-radius: 50px;
    height: 43px;
    width: 230px;
    background-color: #2196F3;
}
.entries_page_fonts
{
    font-size: 20px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.chint_entries_page_fonts
{
    font-size: 19px;
    font-weight:bold;
    color:#E6E6FA;
    font-family:Times New Roman Times, serif;
}
.clour_types_btn
{
    background-color:#708090;
    border:none;
    width:100%;
    height:50px;
    border-radius:18px;
}

.process-payments-labels
{
    font-size: 16px;
    font-weight: normal;
    font-family:Times New Roman Times, serif;
    color: black;
}

/*=======================================================================================================*/
                                            /*
                                               +++++++++++++++++++++++++ ++
                                               +                          +
                                               +   Sub dealer gui         +
                                               +                          + 
                                               ++++++++++++++++++++++++++++
                                            */


.autocomplete 
    {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }
.autocomplete-items 
    {
        color: white;
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: black;
    border-bottom: 1px solid #d4d4d4;
    }
/* .autocomplete-items div:hover { background-color: #e9e9e9; } */

.order-input-div
{
    background-color: white;
    /* width: 50%; */
}


/* ============================= ACORDINATION  ================ */

.main-acordination-btns
    {
        background-color:#708090;
        cursor: pointer;
        padding: 8px 8px 8px 8px;
        width: 100%;
        border-color: #708090;
        border-style: solid;
        text-align: left;
        font-size: 18px;
        font-family:Times New Roman Times, serif;
        color:white;
        font-family:Times New Roman Times, serif;
        transition: 0.4s;

    }
.main-acordination-btns.active {background-color: #1E90FF; }

.main-acordination-btns:hover {background-color:  	#B0C4DE;}

.main-acordination-btns:after
{
    content: '\002B'; 
    color: white;
    font-weight: bolder;
    float: right;
    margin-left: 5px;
}
.main-acordination-btns.active:after {content: "\2212"; }

.acordination-contents-area
    {
        width:100%;
        max-height: 0;
        /* overflow: hidden; */
        overflow: auto;
        transition: max-height 0.2s ease-out;
    }
     